<h5><i>~~~Coffee Profiles~~~</b></i></h5>
<h5>Current User: <%= current_user.username %></h5>
<div align="right">
 
<h5><span id="datetime"></span></h5>
 <h5><a href="/logout">Log Out</a><br>
 <a href="/home">Home</a></h5></center>
</div>


<script>
var dt = new Date();
document.getElementById("datetime").innerHTML = dt.toLocaleDateString();
</script>
<html>
<body background="https://www.verywellhealth.com/thmb/yeH4u7-xV2mfw1M_0MctAv_EWsw=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/iStock-580106866-58cf635a3df78c3c4f84250c.jpg">

<div align="center">

<h1>ONLY YOU CAN EDIT YOUR POSTS!</h1>
<img src="https://upload.wikimedia.org/wikipedia/commons/e/e7/Uncle_Sam_style_Smokey_Bear_Only_You.jpg" height=200 width=150> </div>
<br>
<form action="/posts/<%= @post.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
<h4>Coffee Name:</h4>
<input type="text" name="name" value= "<%= @post.name %>" placeholder=" Enter name of coffee">
<br>
<h3>Tell us about your coffee:</h3>
<br>
<h4>How did you prepare your coffee?</h4>

<textarea name="prepare"><%= @post.prepare %></textarea>
<br>
<br><h4>Region:</h4>
<h4>What region did your coffee from?</h4>
<textarea name="region"><%= @post.region %></textarea>
<br>
<br>
<h4>Aroma Notes:</h4> 
<h4>What does your coffee smell like?</h4>
<br>
<h4>Any specific aroma notes?</h4>
<textarea name="aroma"><%= @post.aroma %></textarea>
<br>
<br>
<h4>Flavour Notes:</h4> 
<h4>What does your coffee taste like?</h4>
<br>
<h4>Any specific flavour notes?</h4>
<textarea name="flavour"><%= @post.flavour %></textarea>
<br>
<br>
<h4>Acidity Notes:</h4> 
<h4>How acidic was your coffee?</h4>
<textarea name="acidity"><%= @post.acidity %></textarea>
<br>
<br>
<h4>Body Notes:</h4> 
<h4>Describe the body of your coffee:</h4>
<textarea name="body"><%= @post.body %></textarea>
<br>
<br>
<h4>Food Notes:</h4>
<h4>Any food pairings? How did it affect the taste?</h4>
<textarea name="food"><%= @post.food %></textarea>
<br>
<br>
<h4>Additional Notes:</h4>
<textarea name="notes"><%= @post.notes %></textarea><br>

  <input type="submit" value="Submit Edit">
</form>
<br>
<br>

<h5>Would you like to delete your post? </h5>

<form action="/posts/<%= @post.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>

<%#<h5> Would you like to <a href="/posts/destroy">delete</a> your post? </h5></center>%>

<h5> Would you like to make a new post? </h5></center>
<form action="/posts/new" method="GET">
  <input id="hidden" type="hidden" name="_method" value="New Post">
  <input type="submit" value="New Post">
</form>