<h5><i>~~~Coffee Profiles~~~</b></i></h5>
<div align="right">
 
<h5><span id="datetime"></span></h5>
 <h5><a href="/logout">Log Out</a></h5></center>
</div>


<script>
var dt = new Date();
document.getElementById("datetime").innerHTML = dt.toLocaleDateString();
</script>
<html>
<body background="https://www.verywellhealth.com/thmb/yeH4u7-xV2mfw1M_0MctAv_EWsw=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/iStock-580106866-58cf635a3df78c3c4f84250c.jpg">



<h1>Wow! <%= @post.name %> sounds delicious!</h1>


  <h3>
  Name: <%= @post.name %> <br>
  Prepare: <%= @post.prepare %> <br>  
  Region: <%= @post.region %> <br>  
  Aroma: <%= @post.aroma %> <br>  
  Flavour: <%= @post.flavour %> <br>  
  Acidity: <%= @post.acidity %> <br>  
  Body: <%= @post.body %> <br>  
  Food: <%= @post.food %> <br>  
  Notes: <%= @post.notes %> <br>  
</h3>


<p> <br><h5> Would you like to edit your post? </h5>
<form action="/posts/<%= @post.id %>/edit" method="GET">
  <input id="hidden" type="hidden" name="_method" value="edit">
  <input type="submit" value="Edit">
</form>
<h5>Would you like to delete your post? </h5>

<form action="/posts/<%= @post.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>

<%#<h5> Would you like to <a href="/posts/destroy">delete</a> your post? </h5></center>%>

<h5> Would you like to make a new post? </h5></center>
<form action="/posts/new" method="GET">
  <input id="hidden" type="hidden" name="_method" value="New Post">
  <input type="submit" value="New Post">
</form>